<div><h2 style="text-align: center;">Student Marks</h2></div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>Name</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let std of students">
                <td>{{std.rollNo}}</td>
                <td>{{std.name}}</td>
                <td *ngIf="std.marks>=40; else elseBlock"><p [style]="{'color':'green'}">{{std.marks}}</p></td>
                <ng-template #elseBlock><p [style]="{'color':'red'}">{{std.marks}}</p></ng-template>                
            </tr>
        </tbody>
    </table>
</div>